input {
  font-family: "Gill Sans";
  width: 100%;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  background-color: #f4f3ee;
  border: 1.5px solid #392f5a;
  border-radius: 5px;
}

.searchInput {
  padding-bottom: 20px;
}
