.header {
  text-align: center;
  font-family: "Gill Sans";
  display: block;
  padding-top: 3px;
}

.title {
  font-size: 60px;
  color: #fff;
}

.description {
  font-size: 24px;
  font-weight: 300;
  color: #fff;
}
