.help {
  display: none;
}

@media screen and (min-width: 768px) {
  
  .help {
    position: fixed;
    display: block;
    padding: 2.5px;
    top: 5%;
    left: 1%;
    width: 150px;
    background-color: #1f143d;
    color:#fff;
    border: 1.5px solid;
    border-radius: 5px;
    text-align: center;


  }
  
}
