input {
    font-family: "Gill Sans";
    width: 100%;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    background-color: #1f143d;
    color:#fff;
    border: 1.5px solid #ffffff;
    border-radius: 5px;
  }
  
  .searchInput {
    padding-bottom: 20px;
    
  }
  
  ::placeholder{
    color:#fff
  }